body {
    background-color: #FFFFFF;
    color: #757575;
}
.list {
    list-style: none;
}
/* Колір основного тексту #757575 */
/* Додатковий колір #212121 */
/* Білий (Хедер) #FFFFFF */
/* Чорний #000000 */
/* Сірий фон #2F303A; */
/* Акцент #2196F3 */
/* Фон додатковий #F5F4FA; */
:root{
    --brand-color: #757575; --second-color:#212121; --main-background:#FFFFFF;
    --background-head:#2F303A; --background-add:#F5F4FA;
    --accent-color:#2196F3;
}
header {
    
}
/* link */
.link {
    text-decoration: none;
}

/* site-nav */
.logo {
    color: #000000;
}
.logo-accent {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--second-color);
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}
.contakts .cont-link {
    color: var(--brand-color);
}
.contakts .cont-link:hover{
    color: var(--accent-color);
}

/* Main */
/* hero */
.hero {
    background-color: var(--background-head);
    
}
.hero-title {
    color: var(--main-background);
}
.button {
    background-color: var(--accent-color);
    color: var(--main-background);
}

/* section */
.section {
    
}
.section-title {
    color: var(--second-color);
}
.section-h3 {
    color: var(--second-color);
}
.section-team {
    background-color: var(--background-add);
}

/* footer */
.foot {
    background-color: var(--background-head);
}

/* portfolio */ 
.button-ptf {
    background-color: var(--background-add);
}
.button-ptf:hover, .button-ptf.focus {
    background-color: var(--accent-color);
    color: var(--main-background);
}